
@{
    ViewData["Title"] = "创建课程Banner";
}
@model List<Entity.CourseEntity>;
<div class="page-title">
    <div class="title_left">
        <h3>创建课程Banner</h3>
    </div>
</div>
<link href="~/css/pnotify.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div id="example" class="x_content">
                <br>
                <form asp-action="Create" id="demo-form2" class="form-horizontal form-label-left">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            标题 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" v-model="title" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            关联课程 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select v-model="courseId" class="form-control">
                                @foreach (var item in Model)
                                {
                                    <option value="@item.courseId" selected>@item.name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            图片 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="fileCoverImage" type="file" style="width:0; height:0" accept="image/png,image/gif,image/jpeg,image/bmp" />
                            <template v-if="coverImage === ''">

                                <div class="x_panel tile fixed_height_320">
                                    <div class="x_content">
                                        <div class="flex" style="justify-content:center; align-items:center;text-align:center">
                                            <h3 class="name">
                                                <label>
                                                    &nbsp;
                                                </label>
                                            </h3>
                                            <h3 class="name">
                                                <label for="fileCoverImage" style="cursor:pointer">
                                                    <i class="fa fa-plus fa-5x"></i>
                                                </label>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                            </template>

                            <template v-else>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <ul class="nav navbar-right panel_toolbox">
                                                <li>
                                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                </li>
                                                <li class="dropdown">
                                                    <a v-on:click="UpdateCoverImage()" class="dropdown-toggle"><i class="fa fa-picture-o"></i></a>
                                                </li>
                                                <li>
                                                    <a class="close-link" v-on:click="DeleteCoverImage()"><i class="fa fa-close"></i></a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">

                                            <div class="bs-example" data-example-id="simple-jumbotron">
                                                <img style="width:100%" :src="coverImage" />
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </template>

                        </div>
                    </div>

                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button class="btn btn-primary" onclick="Save()" type="button">创建</button>
                            <a asp-action="List" class="btn btn-info">返回列表</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/pnotify.js"></script>
<script src="~/js/vue.js"></script>
<script src="~/js/a6admin.js"></script>
<script src="~/js/qiniu.min.js"></script>
<script type="text/javascript">
    //
    $("#liCourseBannerList").addClass("current-page");
    $("#ulCourse").show();

    $(document).ready(function () {
        $("#fileCoverImage").on("change", function (e) {
            GetFileImageUrl(e)
        });
    });

    var courseBannerEntity = {
        title: "",
        coverImage: "",
        courseId: ""
    }

    var courseBannerVue = new Vue({
        el: "#example",
        data: courseBannerEntity,
        methods: {
            DeleteCoverImage: function () {
                courseBannerEntity.coverImage = "";
            },
            UpdateCoverImage: function () {
                $("#fileCoverImage").trigger("click");
            }
        }
    })

    //获取图片地址文件地址
    function GetFileImageUrl(e) {
        var file = e.currentTarget.files[0];
        var suffix = MimeToSuffix(file.type)//文件后缀
        var arr = ['.jpeg', '.png', '.gif', '.bmp'];
        if (arr.indexOf(suffix) == -1) {
            ShowPNotify("文件类型错误")
            return
        }
        courseBannerEntity.coverImage = "";
        var bucket = "image"//存放的存储空间
        $.when(GetQiNiuToken(bucket)).done(function (defer) {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function (e) {
                blob = DataURItoBlob(e.target.result);
                var token
                var key
                var blob

                token = defer

                var guid = new GUID();
                key = guid.newGUID();

                var putExtra = {
                    fname: "",  //文件原文件名
                    params: {}, //用来放置自定义变量
                    mimeType: null  //用来限制上传文件类型，为 null 时表示不对文件类型限制；限制类型放到数组里： ["image/png", "image/jpeg", "image/gif"]
                };

                var config = {
                    useCdnDomain: true,   //表示是否使用 cdn 加速域名，为布尔值，true 表示使用，默认为 false。
                    region: qiniu.region.z2     // 根据具体提示修改上传地区,当为 null 或 undefined 时，自动分析上传域名区域
                };

                var observable = qiniu.upload(blob, key + suffix, token, putExtra, config)
                new PNotify({
                    title: '文件上传中!',
                    text: '请等待...',
                    type: 'info',
                    delay: 180000,
                    styling: 'bootstrap3',
                    addclass: 'dark'
                });
                var subscription = observable.subscribe({
                    next: (res) => {
                    },
                    error: (err) => {
                        // 失败报错信息
                        ShowPNotify(err);
                    },
                    complete: (res) => {
                        // 接收成功后返回的信息
                        PNotify.removeAll()
                        ShowSuccessPNotify("文件上传完成")
                        courseBannerEntity.coverImage = GetQiNiuDomain(bucket) + res.key
                    }
                })
            }
        });
    }

    function Save() {
        if (courseBannerEntity.courseId == "") {
            ShowPNotify("课程不能为空");
            return
        }

        if (courseBannerEntity.coverImage == "") {
            ShowPNotify("图片不能为空");
            return
        }

        $.ajax({
            type: "post",
            url: "/CourseBanner/Create",
            data: {
                title: courseBannerEntity.title,
                coverImage: courseBannerEntity.coverImage,
                courseId: courseBannerEntity.courseId,
            },
            dataType: "json",
            success: function (result) {

                if (result.code == "200") {
                    window.location.href = "/CourseBanner/List";
                }
                else {
                    ShowPNotify(result.msg)
                }
            },
            error: function () {
                ShowPNotify("请求错误")
            }
        });
    }


</script>

