
@{
    ViewData["Title"] = "修改密码";
}

<div class="page-title">
    <div class="title_left">
        <h3>修改密码</h3>
    </div>
</div>
<link href="~/css/pnotify.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div id="example" class="x_content">
                <br>
                <form asp-action="EditPassword" id="demo-form2" class="form-horizontal form-label-left">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            密码 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="password" v-model="password1" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            确认密码 <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="password" v-model="password2" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>

                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button class="btn btn-primary" onclick="Save()" type="button">确定</button>
                            <a asp-action="List" class="btn btn-info">返回列表</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/pnotify.js"></script>
<script src="~/js/vue.js"></script>
<script src="~/js/a6admin.js"></script>
<script type="text/javascript">
    //
    $("#liAdminList").addClass("current-page");
    $("#ulAdmin").show();

    var adminEntity = {
        password1: "",
        password2: ""
    }

    var adminVue = new Vue({
        el: "#example",
        data: adminEntity
    })

    function Save() {

        if (adminEntity.password1 == "") {
            ShowPNotify("密码不能为空");
            return
        }

        if (adminEntity.password2 == "") {
            ShowPNotify("请输入确认密码");
            return
        }

        if (adminEntity.password1 != adminEntity.password2) {
            ShowPNotify("两次输入的密码不一致")
            return
        }

        $.ajax({
            type: "post",
            url: "/Admin/EditPassword",
            data: {
                password: adminEntity.password1,
            },
            dataType: "json",
            success: function (result) {

                if (result.code == "200") {
                    window.location.href = "/Login/Login";
                }
                else {
                    ShowPNotify(result.msg)
                }
            },
            error: function () {
                ShowPNotify("请求错误")
            }
        });
    }




</script>

