@*@{
        Admin.Base.BaseController baseController = new Admin.Base.BaseController();
        ControllerContext controllerContext = new ControllerContext();
        Entity.AdminEntity adminEntity = controllerContext.HttpContext.Session.Get<Entity.AdminEntity>("admin");
    }*@

<!DOCTYPE html>
<html lang="zh-cn">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"] - 理赔学堂</title>

    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/css/custom.min.css" rel="stylesheet" />
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a asp-controller="Home" asp-action="Index" class="site_title"><i class="fa fa-paw"></i> <span>理赔学堂</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@await Component.InvokeAsync("ThisAdmin")</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3></h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> 主页 </a>
                                </li>

                                <li>
                                    <a><i class="fa fa-user"></i> 用户 <span class="fa fa-chevron-down"></span></a>
                                    <ul id="ulUser" class="nav child_menu">
                                        <li id="liUserList"><a asp-controller="User" asp-action="List">用户列表</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-desktop"></i> 说说 <span class="fa fa-chevron-down"></span></a>
                                    <ul id="ulShare" class="nav child_menu">
                                        <li id="liShareList"><a asp-controller="Share" asp-action="List">说说列表</a></li>
                                        <li id="liShareTypeList"><a asp-controller="ShareType" asp-action="List">分类列表</a></li>
                                        <li id="liShareTopicList"><a asp-controller="ShareTopic" asp-action="List">话题列表</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i> 案例 <span class="fa fa-chevron-down"></span></a>
                                    <ul id="ulCase" class="nav child_menu">
                                        <li id="liCaseList"><a asp-controller="Case" asp-action="List">案例列表</a></li>
                                        <li id="liCaseTagList"><a asp-controller="CaseTag" asp-action="List">标签列表</a></li>
                                        <li id="liCaseOfficialList"><a asp-controller="CaseOfficial" asp-action="List">官方案例列表</a></li>
                                    </ul>
                                </li>


                                <li>
                                    <a><i class="fa fa-video-camera"></i> 视频 <span class="fa fa-chevron-down"></span></a>
                                    <ul id="ulVideo" class="nav child_menu">
                                        <li id="liVideoList"><a asp-controller="Video" asp-action="List">视频列表</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-edit"></i> 管理员 <span class="fa fa-chevron-down"></span></a>
                                    <ul id="ulAdmin" class="nav child_menu">
                                        <li id="liAdminList"><a asp-controller="Admin" asp-action="List">管理员列表</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="退出登录" asp-controller="Login" asp-action="LogOut" style="width:100%">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/images/img.jpg" alt="">
                                    @await Component.InvokeAsync("ThisAdmin")
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a asp-controller="Admin" asp-action="Edit"> 个人中心</a></li>
                                    <li>
                                        <a asp-controller="Admin" asp-action="EditPassword">
                                            <span class="badge bg-red pull-right"></span>
                                            <span>设置</span>
                                        </a>
                                    </li>
                                    <li><a asp-controller="Login" asp-action="LogOut" ><i class="fa fa-sign-out pull-right"></i>退出登录</a></li>
                                </ul>
                            </li>

                            @*<li role="presentation" class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="badge bg-green">6</span>
                                    </a>
                                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                        <li>
                                            <a>
                                                <span class="image"><img src="~/Contents/WebImg/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="~/Contents/WebImg/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="~/Contents/WebImg/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="~/Contents/WebImg/img.jpg" alt="Profile Image" /></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="text-center">
                                                <a>
                                                    <strong>See All Alerts</strong>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>*@
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <!-- jQuery -->
            <script src="~/js/jquery.min.js"></script>
            <div class="right_col" role="main">
                <div class="">

                    @RenderBody()

                </div>
            </div>

            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    佛山市领赟信息技术有点公司
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    @RenderSection("Scripts", required: false)
    <!-- Bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/js/fastclick.js"></script>
    <script src="~/js/custom.min.js"></script>
</body>
</html>
